{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint/eslint-plugin", "jest"],
  "extends": ["plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "overrides": [
    {
      "files": "*.ts",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "no-warning-comments": ["warn", { "terms": ["todo"], "location": "anywhere" }],
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "vars": "all",
            "args": "none",
            "argsIgnorePattern": "^_"
          }
        ],
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/ban-ts-comment": 0,
        "@typescript-eslint/no-floating-promises": 1
      }
    }
  ]
}